@import url(../../../styles/global.css);

body {
    background-color: #160F1D;
    display: flex;
}

aside {
    display: flex;
    width: 268px;
    height: 100vh;
    padding: 20px 16px;
    gap: 50px;
    flex-direction: column;
    align-items: flex-start;
    background-color: #0F081A;

    position: fixed;
}

.left-sidebar {
    gap: unset;
    padding: 20px 0;
    left: 0;
}

.right-sidebar {
    right: 0;
}

.menu-top {
    display: flex;
    padding: 16px 24px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.menu-top>h6 {
    font-family: var(--font-abeezee), sans-serif;
    font-size: 40px;
    font-style: normal;
    line-height: 100%;
}

.menu-list {
    display: flex;
    padding: 24px 16px;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

.link {
    display: flex;
    align-items: center;
    gap: 12px;

    p {
        font-size: var(--font-size-lg);
    }
}

.link:hover {
    p {

        text-shadow: 0 0 20px rgba(154, 51, 223, 0.50);
    }

    img {
        filter: drop-shadow(var(--shadow-hover));
    }
}


.more-links {
    display: flex;
    width: 100%;
    padding: 20px 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    border-top: 1px solid var(--grayscale-seasalt);
    border-bottom: 1px solid var(--grayscale-seasalt);
}

.menu-bottom {
    display: flex;
    padding: 0 16px 20px 16px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.profile {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.avatar {
    display: flex;
    align-items: center;
    gap: 8px;
}


.search-bar {
    display: flex;
    padding: 10px 14px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 100px;
    border: 1px solid var(--blueviolet-blueviolet);
}


#searchBar {
    color: var(--grayscale-whitesmoke);
    font-family: var(--font-poppins), sans-serif;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-normal);
}

.filter-section {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;

}

.filter-section > p, h3, h4 {
    color: var(--neutrals-white, #FAFAFA);
    font-size: var(--font-size-md);
    font-weight: 200;
    /* Essa variavel esta no figma e não esta no Global Style, aguardar merge nas barnches para alterar */
    line-height: var(--line-height-normal);

}

.filter-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.filter-dropdown {
    width: 100%;
    cursor: pointer;
    display: flex;
    padding: 0 2px;
    justify-content: space-between;
    align-items: center;
}
.filter-dropdown > h4 {
    font-weight: var(--font-weight-regular);
}

.filter-title > h3 {
    font-size: 3.6rem;
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-loose);
}

.filter-dropdown img {
    rotate: 180deg;
}

.main-game-page {
    width: 100%;
    margin-left: 268px;
    margin-right: 268px;
    padding: unset;
    padding-bottom: 30px;
    overflow-y: auto;
    max-width: calc(100vw - 536px);
}

.title-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.toggle-games-button {
    display: flex;
    width: 156px;
    align-items: center;

    position: relative;
    left: 50px;
    top: 25px;

    border-radius: 100px;
    background: var(--blue-violet-desat-300);
}


.new-games-tag {
    display: flex;
    padding: 4px 10px;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;

    border-radius: 100px;
    background: var(--blueviolet-blueviolet);

    /* ToggleOption1 */
    box-shadow: 2px 2px 4.8px 0 rgba(60, 9, 108, 0.27), 10px 7px 30px 0 rgba(149, 116, 207, 0.25);
}


.new-games-tag p {
    font-family: var(--font-abeezee), sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.trending-games-tag {
    display: flex;
    padding: 4px 10px;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;

    border-radius: 0 100px 100px 0;

    transition: all 0.2s;
}

.trending-games-tag:hover {
    box-shadow: var(--shadow-hover);
}

.trending-games-tag p {
    font-family: var(--font-abeezee), sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.page-title-frame {
    color: var(--grayscale-whitesmoke, #F6F6F9);
    text-align: center;
    /* Poppins Font/Poppins SemiBold/5.5xl */
    font-family: var(--font-poppins), sans-serif;

    margin: 32px 0 30px 0;
}

.page-title-frame h2 {
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 67px;
    letter-spacing: 12px;
}

.page-title-frame h1 {
    font-size: 6.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 16px;
}

.game-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.3rem;
}

.game-card {
    position: relative;
    display: flex;
    width: 321px;
    height: 350px;
    flex-shrink: 0;
    flex-direction: column;
    align-items: flex-start;

    border-radius: 12px;
    background: var(--blue-violet-desat-600);

    box-shadow: var(--shadow-card);

    transition: box-shadow 0.2s;
}

.game-card::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: var(--gradients-card-active);
    background-size: 320% 320%;
    background-position: 0 50%;
    border-radius: 12px;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.15s;
}

.game-card:active::before {
    opacity: 1;
    animation: moveGradient 2s alternate infinite;
}

.game-card:hover {
    box-shadow: 0 0 20px 5px rgba(154, 51, 223, 0.50);
}

@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}

.game-card > img {
    width: 100%;
    /*height: 178px;*/
    object-fit: contain;
    flex-shrink: 0;
    border-radius: 12px 12px 0 0;
}

.game-card p {
    font-family: var(--font-abeezee), sans-serif;
    color: var(--grayscale-whitesmoke);
}



.game-card:hover .card-content {
    transform: translateY(-120px);
}

.game-card:hover .card-buttons {
    opacity: 1;
    transform: translateY(0);
}

.card-content {
    display: flex;
    padding: 18px 12px;
    background: var(--blue-violet-desat-600);
    border-radius: 12px;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    align-self: stretch;
    flex: 1;

    transition: transform 0.3s;
}

.card-content > p {
    font-size: 2.4rem;
    width: 100%;
    text-wrap: wrap;
}

.game-tags {
    display: flex;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    gap: 8px;
    flex-wrap: wrap;
}

.tag > p {
    font-family: var(--font-abeezee), sans-serif;
    font-size: 1.6rem;
    padding: 4px 10px;
    border-radius: 100px;
    border: 1px solid var(--blueviolet-800);
    background-color: var(--blueviolet-800);
}

.card-buttons {
    display: flex;
    margin-top: 16px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 8px;
    align-self: stretch;
    flex-wrap: wrap;

    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
}

.card-buttons > button {
    padding: 6px 8px;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;

    border-radius: 5px;
    background: var(--blueviolet-700, #7B2CBF);
    font-size: 1.6rem;

    position: relative;
    overflow: visible;

    transition: all 0.2s;
}

.card-buttons button:hover {
    background: var(--blueviolet-800);

}

@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}

.card-buttons button:active {
    transform: scale(0.96);
}

.card-buttons button:before,
.card-buttons button:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}

/* Troque :active por .animating */
.card-buttons button.animating:before {
    top: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.card-buttons button.animating::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}