@import url(../../../styles/global.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 100px 100px 30px 100px;
  background-image: url(../../../assets/images/login-page-bg.png);
  background-size: cover;
  gap: 30px;
}

.logo {
  flex-direction: row;
  padding: unset;
  gap: 20px;
}
.logo img {
  height: 137.667px;
  width: unset;
  flex: 1 0 0;
  aspect-ratio: 119/137.67;
  width: unset;
}
.logo p {
  font-size: var(--font-size-6xl);
  line-height: var(--line-height-tight);
}

section {
  display: flex;
  max-width: 500px;
  width: 100%;
  height: fit-content;
  padding: 100px 40px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border-radius: 25px;
  border: 2px solid var(--blueviolet-blueviolet);
  background: rgba(40, 30, 50, 0);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset,
    0 4px 4px 0 rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
}

h1 {
  font-size: var(--font-size-3xl);
  font-style: normal;
  font-weight: var(--font-weight-semibold);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
}

fieldset {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 6px;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 16px;
}
.input {
  display: flex;
  padding: 10px 14px;
  align-items: center;
  width: 100%;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--blueviolet-blueviolet);
}
.input img {
  width: 24px;
  height: 24px;
}

label {
  color: var(--neutrals-white);
  font-family: var(--font-poppins), sans-serif;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
label span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: var(--blueviolet-800);
  transition: 0.15s ease-in-out;
  cursor: pointer;
}
label span img {
  transition: 0.15s ease-in-out;
  width: 20px;
  height: 20px;
}
label span:hover img {
  filter: drop-shadow(0 0 10px var(--blueviolet-blueviolet));
}
label span:hover {
  color: var(--blueviolet-blueviolet);
  text-shadow: 0 0 20px rgba(154, 51, 223, 1);
}

input {
  color: var(--neutrals-white);
  font-family: var(--font-poppins);
  width: 100%;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
}
input::placeholder {
  color: var(--blue-violet-desat-400);
}
input:focus {
  background-color: transparent;
  outline: transparent;
}
input:active {
  background-color: transparent;
}

form button {
  display: flex;
  transition: 0.15s ease-in-out;
  width: 100%;
  padding: 12px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background-color: var(--blueviolet-blueviolet);
  font-size: var(--font-size-base);
  font-family: var(--font-abeezee);
}
form button:active {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset,
    0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
form p {
  width: 100%;
  font-family: var(--font-abeezee);
  font-size: var(--font-size-sm);
  text-align: center;
}
form p a {
  text-decoration: underline;
  color: var(--blueviolet-blueviolet);
}

@media (max-width: 835px) {
  section {
    max-width: unset;
  }
  body {
    padding: 70px 30px 30px 30px;
  }
}
.dev-mode {;
  height: 6px;
  background-color: rgba(109, 109, 109, 0.096);
}

.neon-text {
    font-size: 1.2rem;
    color: #fff;
    text-shadow: 0 0 5px var(--blueviolet-blueviolet), 0 0 10px var(--blueviolet-blueviolet), 0 0 20px var(--blueviolet-blueviolet), 0 0 40px var(--blueviolet-blueviolet), 0 0 80px var(--blueviolet-blueviolet);
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    0% {

        text-shadow: 0 0 10px var(--mclaren-orange), 0 0 20px var(--mclaren-orange), 0 0 40px var(--mclaren-orange), 0 0 80px var(--mclaren-orange), 0 0 160px var(--mclaren-orange);
    }
    100% {
        text-shadow: 0 0 5px var(--blueviolet-blueviolet), 0 0 10px var(--blueviolet-blueviolet), 0 0 20px var(--blueviolet-blueviolet), 0 0 40px var(--blueviolet-blueviolet), 0 0 80px var(--blueviolet-blueviolet);
    }
}