
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.shadow-box {
  width: 100%;
  position: relative;
  margin-top: -40px;
  height: 40px;
  border-radius: 5px;
  background: var(--gradients-title-linear);
  filter: blur(100px);
  z-index: 2;
}
main p {
    font-size: var(--font-size-3xl);
    font-weight: var(--font-weight-extralight);
    width: 100%;
    text-align: center;
}
@media (max-width: 582px) {
    main p {
        font-size: var(--font-size-xl);
    }
}
@media (max-width: 582px) {
    main {
        h2 {
            font-size: var(--font-size-5xl);
        }
    }
}