@import url("../../../styles/global.css");

.main-profile {
    max-width: unset;
    padding: unset;
}

.conteiner-image{
}
.header{
}
.perfil{
}

h3{
    font: var(--font-poppins);
}

p{
    font: var(--font-poppins);
}
