<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<!--Copiem a partir daqui-->

<aside>
    <div class="logo">
        <img src="../../assets/images/luna-logo.png" alt="luna-logo">
        <h6>Luna</h6>
    </div>
    <div class="menu-list">
        <div class="link">
            <img src="" alt="folder-icon">
            <a href="">NewsPage</a>
        </div>
        <div class="link">
            <img src="" alt="library-icon">
            <a href="">FindGame</a>
        </div>
        <div class="link">
            <img src="" alt="group-icon">
            <a href="">FindPeople</a>
        </div>
    </div>
    <div class="more-links">
        <div class="link">
            <img src="" alt="question-box-icon">
            <a href="">About Luna</a>
        </div>
    </div>

    <div class="profile">
        <div class="avatar">
            <img src="" alt="user-icon">
            <p class="avatar-name">@chimbinha</p>
        </div>
        <img src="" alt="three-dots-icon">
    </div>
    </div>
</aside>

<!--Copiem até aqui-->

</body>
</html>