<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>

  <!--Copiem a partir daqui-->

  <aside>
    <div class="menu-top">
      <img src="../../assets/images/luna-logo.png" alt="luna-logo">
      <h6>Luna</h6>
    </div>
    <div class="menu-list">
      <a href="#" class="link">
        <img src="../../assets/icons/folder-icon.svg" alt="folder-icon">
        <p>NewsPage</p>
      </a>
      <a href="#" class="link">
        <img src="../../assets/icons/book-square.svg" alt="library-icon">
        <p>FindGame</p>
      </a>
      <a href="#" class="link">
        <img src="../../assets/icons/people.svg" alt="group-icon">
        <p>FindPeople</p>
      </a>
    </div>
    <div class="menu-bottom">

      <div class="more-links">
        <a href="#" class="link">
          <img src="../../assets/icons/message-question.svg" alt="question-box-icon">
          <p>About Luna</p>
        </a>
      </div>

      <div class="profile">
        <div class="avatar">
          <img src="../../assets/images/avatar-icon.png" alt="user-icon">
          <p class="avatar-name">@chimbinha</p>
        </div>
        <a href="">
          <img src="../../assets/icons/menu.svg" alt="three-dots-icon">
        </a>
      </div>
    </div>
    </div>
  </aside>

  <!--Copiem até aqui-->

</body>

</html>