<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>right side</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>

  <!--Copiem a partir daqui-->

  <aside class="right-sidebar">
    <div class="search-bar">
      <img src="../../assets/icons/search-icon.svg" alt="search-icon">
      <input type="search" name="search-bar" id="searchBar" placeholder="Pesquisar..." />
    </div>

    <section class="filter-section">
      <div class="filter-title">
        <h3>Filtros</h3>
        <img src="../../assets/icons/filter.svg" alt="filter-icon">
      </div>
      <p>Nenhum filtro Aplicado</p>
      <div class="filter-dropdown">
        <h4>Gênero</h4>
        <img src="../../assets/icons/arrow-down.svg" alt="open/close-dropdown">
      </div>
      <div class="filter-dropdown">
        <h4>Plataforma</h4>
        <img src="../../assets/icons/arrow-down.svg" alt="open/close-dropdown">
      </div>
      <div class="filter-dropdown">
        <h4>Outros</h4>
        <img src="../../assets/icons/arrow-down.svg" alt="open/close-dropdown">
      </div>
    </section>
  </aside>

  <!--Copiem até aqui-->

</body>

</html>