@import url("../../styles/global.css");

aside {
  display: flex;
  width: 268px;
  height: 100vh;
  padding: 20px 16px;
  gap: 50px;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--blue-violet-desat-700);
}
.left-sidebar .menu-top h6 {
  font-family: var(--font-archivo-narrow), sans-serif;
  font-size: var(--font-size-4xl);
  font-style: normal;
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-normal);
  background: var(--gradients-luna-logo);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.left-sidebar {
  gap: unset;
  padding: 20px 0;
}

.menu-top {
  display: flex;
  padding: 16px 24px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.menu-top > h6 {
  font-family: var(--font-abeezee), sans-serif;
  font-size: 40px;
  font-style: normal;
  line-height: 100%;
}

.menu-list {
  display: flex;
  padding: 24px 16px;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  align-self: stretch;
}

.link {
  display: flex;
  align-items: center;
  gap: 12px;

  p {
    font-size: var(--font-size-lg);
  }
}

.link:hover {
  p {
    transition: 0.17s ease-in;
    text-shadow: 0 0 20px rgba(154, 51, 223, 1);
  }

  img {
    transition: 0.17s ease-in;
    filter: drop-shadow(0 0 10px var(--blueviolet-blueviolet));
  }
}

.more-links {
  display: flex;
  width: 100%;
  padding: 20px 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  border-top: 1px solid var(--grayscale-seasalt);
  border-bottom: 1px solid var(--grayscale-seasalt);
}

.menu-bottom {
  display: flex;
  padding: 0 16px 20px 16px;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.profile {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-bar {
  display: flex;
  padding: 10px 14px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 100px;
  border: 1px solid var(--blueviolet-blueviolet);
}

#searchBar {
  color: var(--grayscale-whitesmoke);
  font-family: var(--font-poppins), sans-serif;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-normal);
}

.filter-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.filter-section > p,
h3,
h4 {
  color: var(--neutrals-white, #fafafa);
  font-size: var(--font-size-md);
  font-weight: 200;
  line-height: var(--line-height-normal);
}

.filter-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.filter-dropdown {
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: 0 2px;
  justify-content: space-between;
  align-items: center;
}
.filter-dropdown > h4 {
  font-weight: var(--font-weight-regular);
}

.filter-title > h3 {
  font-size: 3.6rem;
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-loose);
}
.profile > a:hover {
  img {
    transition: 0.17s ease-in;
    filter: var(--shadow-hover);
  }
}

@media (max-width: 834px) {
  .right-sidebar {
    display: none;
  }
}
@media (max-width: 450px) {
    .left-sidebar {
        display: none;
    }

}
