@import url("/src/styles/global.css");
body {
    display: flex;
    flex-direction: row;
}
.avatar-name {
    font-weight: var(--font-weight-thin);
    font-size: var(--font-size-base);
}

main {
    width: 100%;
}
.filter-dropdown {
    img{
        transform: rotate(180deg);
    }
}

main h2 {
    text-align: center;
    font-size: var(--font-size-4xl);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-relaxed);
    letter-spacing: 12.48px;
}
img {
    object-fit: cover;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.shadow-box {
    width: 100%;
    position: relative;
    margin-top: -40px;
    height: 40px;
    border-radius: 5px;
    background: var(--gradients-title-linear);
    filter: blur(100px);
    z-index: 2;
}
.post-card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.post-card {

    transition: 0.15s ease-in-out;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    gap: 20px;
    padding: 30px 50px;
    width: -webkit-fill-available;
    background-color: var(--blue-violet-desat-600);
    z-index: 1;
    box-shadow: var(--shadow-post-card);

    p {
        color: var(--grayscale-seasalt, #DFE6EC);
        /* Poppins Font/Poppins Regular/lg */
        font-family: Poppins;
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-regular);
        line-height: var(--line-height-loose); /* 27px */
    }
}
.post-card:hover {
    box-shadow: 0 0 20px 5px rgba(154, 51, 223, 0.50);
}
.profile-tag {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;


}
.profile-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;

    p {

        color: var(--neutrals-white, #FAFAFA);
        font-family: var(--font-poppins), sans-serif;
        font-size: var(--font-size-2xl);
        font-weight: var(--font-weight-regular);
        line-height: var(--line-height-normal);
    }

    img {
        width: 72.595px;
        height: 72.595px;
        border-radius: 100%;
        aspect-ratio: 72.59/72.59;
    }
}
.tags-wrapper {
    display: flex;
    gap: 8px;
    height: fit-content;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.tag {
    display: flex;
    padding: 4px 10px;
    justify-content: center;
    align-items: flex-end;
    height: fit-content;
    gap: 10px;
    border-radius: 100px;
    border: 1px solid var(--blueviolet-blueviolet);
    background: var(--blueviolet-blueviolet);
    p {
    color: var(--grayscale-seasalt);
        font-family: var(--font-abeezee), sans-serif;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-normal);
}
}

@media (max-width: 1000px) {
    .profile-tag{
        display: flex;
        flex-direction: column;
        align-items: center;
        word-break: break-all;
    }
}
@media (max-width: 1385px) {
    .profile-tag {
        justify-content: center;
    }
}
@media (max-width: 995px) {
    .profile-wrapper, .tags-wrapper {
        justify-content: center;
        flex-wrap: wrap;
    }
}
@media (max-width: 834px) {
    main {
        width: 74.444%;
    }
}
/*mobile*/
@media (max-width: 585px) {
    .main{
        padding: 30px 0;
    }
    .post-card-wrapper {
        padding: 0 0;
    }
    .profile-wrapper {
        img {
            width: 45px;
            height: 45px;
        }
        p {
            color: var(--grayscale-seasalt);

            /* Poppins Font/Poppins Regular/2xl */
            font-family: Poppins;
            font-size: var(--font-size-lg);
            font-weight: var(--font-weight-regular);
            line-height: var(--line-height-loose); /* 30px */
        }
    }
}