@import url("/src/styles/global.css");
body {
    display: flex;
    flex-direction: row;
}
main {
    width: 100%;
}
.letrero {


    p {
    color: var(--grayscale-whitesmoke);
    text-align: center;

    font-family: var(--font-poppins), sans-serif;
    font-size: var(--font-size-3xl);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-normal);
    letter-spacing: 12.48px;
    }
}
.post-card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.post-card {
    display: flex;
    flex-direction: column;
    border: 1px, solid, var(--blue-sky);
    gap: 20px;
    padding: 30px 50px;
    width: -webkit-fill-available;
    box-shadow: var(--shadow-post-card);
}
.profile-tag {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    width: 100%;
    align-items: center;


}
.profile-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 24px;

    p {

        color: var(--neutrals-white, #FAFAFA);
        font-family: var(--font-poppins), sans-serif;
        font-size: var(--font-size-2xl);
        font-weight: var(--font-weight-regular);
        line-height: var(--line-height-normal);
    }

    img {
        width: 72.595px;
        height: 72.595px;
        border-radius: 100%;
        aspect-ratio: 72.59/72.59;
    }
}
.tags-wrapper {
    display: flex;
    gap: 8px;
    height: fit-content;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.tag {
    display: flex;
    padding: 4px 10px;
    justify-content: center;
    align-items: flex-end;
    height: fit-content;
    gap: 10px;
    border-radius: 100px;
    border: 1px solid var(--blueviolet-blueviolet);
    background: var(--blueviolet-blueviolet);
    p {
    color: var(--grayscale-seasalt);
        font-family: var(--font-abeezee), sans-serif;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-normal);
}
}

@media (max-width: 1030px) {
    .profile-tag{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}