@import url("/src/styles/global.css");

main{
    width: 100%;
    max-width: unset;
}
.left-sidebar {
    width: 26.5%;
}
.comments-wrapper {
    width: 100%;
    padding: 0 60px 60px 60px;

    .comments:last-child {
        border-bottom: none;
    }
}
.comments {
    width: 100%;
    display: flex;
    padding: 15px 30px;
    flex-direction: column;
    gap: 15px;
    border-bottom: 1px solid var(--neutrals-white);

    p {
        color: var(--grayscale-seasalt);

        /* Poppins Font/Poppins Regular/base */
        font-family: var(--font-poppins), sans-serif;
        font-size: var(--font-size-base);
        font-weight: var(--font-weight-regular);
        line-height: var(--line-height-loose);
    }
}

.profile-comments {
    display: flex;
    align-items: center;
    padding: 0px 0px 15px 0px;
    gap: 12.17px;

    img {
        width: 45px;
        height: 45px;
        border-radius: 100%;
    }

    p {
        color: var(--neutrals-white);
        /* Poppins Font/Poppins Regular/2xl */
        font-family: var(--font-poppins), sans-serif;
        font-size: var(--font-size-lg);
        font-weight: var(--font-weight-regular);
        line-height: var(--line-height-loose);
    }
}
@media (max-width: 1051px) {
    main {
        width: 74.444%;
    }
}