@import url("/src/styles/global.css");
body {
    display: flex;
    flex-direction: row;
}
main {
    display: flex;
}
main h2 {
    text-align: center;
    font-size: var(--font-size-4xl);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-relaxed);
    letter-spacing: 12.48px;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}
.shadow-box {
    width: 100%;
    position: relative;
    margin-top: -40px;
    height: 40px;
    border-radius: 5px;
    background: var(--gradients-title-linear);
    filter: blur(100px);
    z-index: 2;
}
img {
    object-fit: cover;
}
.tags-wrapper {
    display: flex;
    gap: 8px;
    height: fit-content;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.tag {
    display: flex;
    padding: 4px 10px;
    justify-content: center;
    align-items: flex-end;
    height: fit-content;
    gap: 10px;
    border-radius: 100px;
    border: 1px solid var(--blueviolet-blueviolet);
    background: var(--blueviolet-blueviolet);
    p {
        color: var(--grayscale-seasalt);
        font-family: var(--font-abeezee), sans-serif;
        font-size: var(--font-size-base);
        font-weight: var(--font-weight-regular);
        line-height: var(--line-height-normal);
    }
}

.post-card {

    transition: 0.15s ease-in-out;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    gap: 20px;
    padding: 30px 50px;
    width: -webkit-fill-available;
    background-color: var(--blue-violet-desat-600);
    z-index: 1;
    box-shadow: var(--shadow-post-card);

    p {
        color: var(--grayscale-seasalt, #DFE6EC);
        /* Poppins Font/Poppins Regular/lg */
        font-family: var(--font-poppins), sans-serif;
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-regular);
        line-height: var(--line-height-loose); /* 27px */
    }
}