@import url("/src/styles/global.css");

main {
  width: 100%;
  max-width: unset;
}
.left-sidebar {
  width: 26.5%;
}
.post-card {
  padding: 0;
  box-shadow: unset;
  cursor: unset;
}
.post-card:hover {
  box-shadow: unset;
}
.comments-wrapper {
  width: 100%;
  padding: 0 60px 60px 60px;

  .comments:last-child {
    border-bottom: none;
  }
}
.comments {
  width: 100%;
  display: flex;
  padding: 15px 30px;
  flex-direction: column;
  gap: 15px;
  border-bottom: 1px solid var(--blue-violet-desat-300);

  p {
    color: var(--grayscale-seasalt);
    word-break: break-all;
    /* Poppins Font/Poppins Regular/base */
    font-family: var(--font-poppins), sans-serif;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-loose);
  }
}

.profile-comments {
  display: flex;
  align-items: center;
  padding: 0px 0px 15px 0px;
  gap: 12.17px;

  img {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    aspect-ratio: 45 / 45;
  }

  p {
    color: var(--neutrals-white);
    /* Poppins Font/Poppins Regular/2xl */
    word-break: break-all;
    font-family: var(--font-poppins), sans-serif;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-loose);
  }
}
@media (max-width: 1051px) {
  main {
    width: 74.444%;
  }
  .comments-wrapper {
    padding: 0;
  }
}
@media (max-width: 986px) {
  .left-sidebar {
    width: 268px !important;
  }
}
@media (max-width: 582px) {
  main {
    width: 100%;
    padding: 75px 20px 0 20px;
  }
}
