<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game Card</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="game-card">
        <img src="rdr2-poster.png" alt="">
        <div class="card-content">
            <p>Red Dead Redemption II</p>
            <div class="game-tags">
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
            </div>
        </div>
    </div>
</body>
</html>