<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game Card</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="cards">
    <div class="game-card card1">
        <img src="../../assets/images/rdr2-poster.png" alt="">
        <div class="card-content">
            <p>Red Dead Redemption II</p>
            <div class="game-tags">
                <h6>Text</h6>
                <h6>Text</h6>
                <h6>Text</h6>
                <h6>Text</h6>
            </div>
        </div>
    </div>
    <div class="game-card card2">
        <img src="../../assets/images/r6-poster.png" alt="">
        <div class="card-content">
            <p>	Tom Clancy's Rainbow Six® Siege X</p>
            <div class="game-tags">
                <h6>Text</h6>
                <h6>Text</h6>
                <h6>Text</h6>
                <h6>Text</h6>
            </div>
        </div>
    </div>
    <div class="game-card card3">
        <img src="../../assets/images/clairObscur-poster.png" alt="">
        <div class="card-content">
            <p>Clair Obscur: Expedition 33</p>
            <div class="game-tags">
                <h6>Text</h6>
                <h6>Text</h6>
                <h6>Text</h6>
                <h6>Text</h6>
            </div>
        </div>
    </div>
</div>
</body>
</html>