@import url('../../styles/global.css');

.cards {
    display: flex;
    gap: 12px;
}

.game-card {
    display: flex;
    width: 301px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;

    border-radius: 12px;
    background: var(--blue-violet-desat-600);

    box-shadow: 2px 2px 15px 0 rgba(149, 116, 207, 0.15);
}

.game-card > img {
    width: 100%;
    border-radius: 12px 12px 0 0;
}

.game-card p {
    font-family: var(--font-abeezee), sans-serif;
    color: var(--grayscale-whitesmoke);
}

.card-content {
    display: flex;
    padding: 18px 12px;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    align-self: stretch;
}

.card-content:hover {
    display: flex;
    width: 301px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -120px;
}

.card-content > p {
    font-size: 2.4rem;
    width: 100%;
    text-wrap: wrap;
}

.game-tags {
    display: flex;
    width: 269px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 8px;
    flex-wrap: wrap;
}

.game-tags > h6 {
    font-family: var(--font-abeezee), sans-serif;
    font-size: 1.6rem;
    padding: 4px 10px;
    border-radius: 100px;
    border: 1px solid var(--blueviolet-blueviolet);
    background: var(--blueviolet-blueviolet);
}

